
.faq {
  margin-bottom: 10px;
}

.question {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  background-color: #4caf50;

}

.button {
  margin-left: auto;
  font-size: 1.5rem;
}

.answer {
  background-color: #4caf50;
  padding: 20px;
}
