.footer {
  height: 266px;
  top: 2319px;
  padding: 40px 80px 20px 80px;
  gap: 40px;
  opacity: 0px;
  background-color: #6b3cc9;
  display: flex;
  flex-direction: column;
}

.frame_500 {
  width: 413px;
  height: 102px;
  gap: 20px;
}

.frame_500 img {
  width: 238.89px;
  height: 31px;
}

.frame_500 p {
  width: 413px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px;
  text-align: left;
  color: #ffffff;
  margin-top: 15px;
}

hr {
  width: 630px;
  border: 1px 0px 0px 0px;
  border: 1px solid #ffffff;
  margin-top: -10px;
}

.privacy {
  width: 94px;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
}

.terms {
  width: 131px;
  height: 17px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  text-align: left;
}

.frame_504 p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
}

.frame_500 {
  /* display: flex; */
  float: left;
}

.frame_502 {
  /* display: flex; */
  float: right;
  color: #ffffff;
}

.frame_501 {
  float: left;
  width: Hug (56px) px;
  height: Hug (104px) px;
  gap: 12px;
}

.frame_496 {
  float: right;
  width: 197px;
  height: 129px;
  gap: 12px;
  margin-left: 128px;
}
.frame_502 ul {
  text-align: left;
  padding: 0;
  margin: 0;
}

.frame_505 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .footer {
    height: 428px;
  }

  .frame_500 img {
    width: 238.89px;
    height: 35px;
  }

  .frame_503 {
    display: flex;
    flex-direction: column;
  }

  .frame_502 {
    margin-top: 50px;
  }
}

@media (min-width: 375px) and (max-width: 767px) {
  .footer {
    height: max-content;
    width: 100%;
  }

  .frame_500 img {
    width: 238.89px;
    height: 35px;
  }

  .frame_503 {
    display: flex;
    flex-direction: column;
    margin-left: -50px;
  }

  .frame_502 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  .frame_500 p {
    height: 76px;
    width: 80%;
  }

  .frame_496 {
    margin-top: 30px;
    margin-left: 0;
    width: 100%;
  }

}
